html{font-family: sans-serif;}
h1{color:blue;}
.list {background-color:lavender;
font-size:15px;
border:5px solid;
color:black;
width:40%;
}
body{
    background-image: url(https://wallpaperbrowse.com/media/images/waterdrops-bright-hd-wallpaper-507074.jpg)
}

}
.button{
    margin: 50px;
}
ul{
    list-style:none
}
a{
    display:inline-block;
    background-color: red;
    padding:10px;
    border-radius: 10px;
    box-shadow: 2x 2x 1px gray;
    text decoration: none;
    